@page "/"

<h1>Welcome to the Jaguar House</h1>

¿Así que te decidiste por el mal y el infierno? Bueno, aquí está tu primera WebApp con Blazor. Ojalá valga la pena tu obstinada decisión de querer ser un programador (y no cualquiera: un desarrollador... ¿en qué estabas pensando? Por Dios...)

<SurveyPrompt Title="Queremos saber tu opinión, en serio." />
