@page "/counter"

<h1>Contador</h1>
<p>Conteo actual: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Púlsame</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
