@page "/todo"

<h3>Cosas que deberías estar haciendo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="¿Más? ¿En serio?" @bind="newTodo" />
<button @onclick="AddTodo">Añadir</button>

@code {
    private List<TodoItem> todos = new();
    private string newTodo;


    private void AddTodo()
    {
        // Todo: Add the todo
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}